@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/BalooChettan2-Regular.ttf');
  }
  
:root{
    --bg:#1F1B2D;
    --bg-item: #FFB000;
}

*{
    font-family: 'RobotoMono','monospace';
}

header{
    font-size: 18px;
}

body{
    background-color: rgba(202, 202, 202, 0.514);
}

.navbar-toggler:focus{
    outline: none;
}

.navbar{
    box-shadow: 0px 2.5px 10px rgba(0, 0,0, 0.5);
}

.navBar{
    background-color: var(--bg);
}

.btnNav{
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    background: var(--bg-item);
    border: transparent;
    width: 7rem;
    height: 2.5rem;
    transition: all .2s ease-in-out;
    color: #fff;
}

.btnNav:hover{
    background-color: #ff8800;
    cursor: pointer;
}

.btnNav:focus{
    outline: none;
}

.nav-link{
    color: #fff;
    filter: brightness(70%);
}

.nav-link:hover{
    color: #fff;
    filter: brightness(100%);
}

.nav-item:first-child{
    margin-left: 15px;
}

.nav-item{
    margin-left: 2px;
    margin-right: 2px;
}

.divBreadCrumb{
    margin-top: 30px;
}

.breadcrumb{
    font-size: 18px;
    background-color: transparent;
}


.breadcrumb a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.623);
    transition: all .3s ease-in-out;
}

.breadcrumb a:hover{
    color: rgb(0, 0, 0);
}

.activeBreadCrumb{
    color: rgb(0, 0, 0);
}

.activeBreadCrumb:hover{
    cursor: default;
}

.sideMenu{
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2.5px 10px rgba(0, 0,0, 0.5);
    margin-bottom: 20px;
}

.user{
    padding-top: 25px;
}

.user img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px  1px 7px 1px rgba(0, 0, 0, 0.781);
}

.textUser{
    margin-left: 15px;
}

.textUser h5{
    font-weight: bold;
}

.textUser span{
    font-size: 17px;
}

.btnSideMenu{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnSideMenu button{
    color: #fff;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 600;
    background: linear-gradient(to left, #FFB000, #fffb00);
    border: transparent;
    width: 100%;
    height: 3rem;
    transition: all .3s ease-in-out;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.24);
}



.btnSideMenu button:hover{
    filter: brightness(90%);
    cursor: pointer;
}

.btnSideMenu button:focus{
    outline: none;
}

.btnMenu{
    display: none;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    border:solid 1px black;
    background-color: var(--bg);
    border-radius: 10px;
    width: 100%;
    height: 3rem;
    margin-bottom: 10px;
    transition: all .9s ease-in-out;
    box-shadow: 0px 1px 10px rgba(0, 0,0, 0.5);
}

.btnMenu:hover{
    filter: brightness(70%);
    cursor: pointer;
}

.btnMenu:focus{
    outline: none;
}

.personalInfo{
    display: flex;
    flex-direction: column;
}

.sairConta, .personalInfo a{
    text-decoration: none;
    color: rgba(70, 63, 63, 0.829);
    font-size: 18px;
    margin-left: 5px;
}

.sairConta:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.personalInfo a:hover{
    color: rgb(0, 0, 0);
}

.btnInfo{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 2.5rem;
    background: transparent;
    border: none;
    text-align: left;
}

.btnInfo img, svg{
    margin-bottom: 1px;
    margin-right: 8px;
}

.btnInfo svg:last-child{
    margin-left: 5px;
}

.btnInfo:focus{
    outline: none;
}

.close:focus{
    outline: none;
}

.divForm{
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2.5px 10px rgba(0, 0,0, 0.5);
    margin-bottom: 20px;
}

.divForm h5{
    color: rgba(31, 29, 29, 0.829);
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.divForm span{
    font-size: 19px;
    color: rgba(41, 38, 38, 0.829);
}

.divForm svg{
    color: rgba(41, 38, 38, 0.829);
    transition: all .2s ease-in-out;
}

.divForm svg:hover{
    color: rgb(0, 0, 0);
    width: 17px;
    height: 17px;
}


.btnEditar{
    background: transparent;
    border: none;
    float: right;
}

.btnEditar:hover{
    cursor: pointer;
}

.btnEditar:focus{
    outline: none;
}

.form-group{
    margin-top: 20px;
    transition: all .25s ease-in-out;
}

.form-control{
    display: inline;
}

.divInput{
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0,0, 0.5);
    width: 100%;
    transition: all .3s ease-in-out;
    height: 30px;
    height: 2.3rem;
    padding-left: 10px;
}

.divInput:focus{
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.btnSalvar{
    color: #fff;
    background-color: rgb(245, 33, 33);
    margin-top: 5px;
    margin-bottom: 20px;
    height: 2.4rem;
    width: 10rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    transition: all .4s ease-in-out;
}

.btnSalvar:hover{
    background-color:rgb(206, 36, 36);
    cursor: pointer;
}

.btnSalvar:focus{
    outline: none;
}

@media(max-width:1017px){
    .textUser{
        margin-top: 15px;
    }
    .user img{
        margin-left: 15px;
    }
}

@media(max-width:991px){
    .nav-item{
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-item:first-child{
        margin-left: 0px;
    }
}

@media(max-width:899px){
    .personalInfo a{
        font-size: 16px;
    }
}

@media(max-width:767px){
    .btnMenu{
        display: inline;
    }
    .personalInfo a{
        font-size: 18px;
    }
    .user img{
        margin-left: 0px;
    }
    .textUser{
        margin-top: 0px;
    }
}

@media(max-width:540px){
    .btnEditar{
        float: none;
        position: relative;
    }
    .btnSalvar{
        width: 100%;
    }
}

@media(max-width:388px){
    .textUser{
        margin-top: 15px;
    }
    .user img{
        margin-left: 15px;
    }
}

@media(max-width:364px){
    .breadcrumb-item{
        font-size: 16px;
    }
}

@media(max-width:340px){
    .btnSideMenu, .btnMenu{
        height: 2.5rem;
    }
    .divForm h5{
        font-size: 17px;
    }
    .divForm span{
        font-size: 16px;
    }
    .form-control{
        font-size: 15px;
    }
    .btnMenu{
        font-size: 17px;
    }
    .btnMenu svg{
        margin-top: -2px;
        margin-right: 0px;
        width: 20px;
    }
    .btnSideMenu{
        font-size: 17px;
    }
    .textUser h5{
        font-size: 19px;
    }
    
    .textUser span{
        font-size: 15px;
    }
    .user img{
        width: 65px;
        height: 65px;
    }

}